<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">
    <listeners>
        <listener class-name="org.home.core.CustomListener"></listener>
    </listeners>
    <test thread-count="1" name="Test1">
        <classes>
<!--            <class name="org.home.selenium.AddressTest"/>-->
<!--            <class name="org.home.selenium.AccountTest"/>-->
<!--            <class name="org.home.selenium.CartTest"/>-->
            <class name="org.home.selenium.LoginTest"/>
<!--            <class name="org.home.selenium.WishlistTest"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->